<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletsyjsp</display-name>
  <welcome-file-list>
    <welcome-file>inicio.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PrimerServlet</display-name>
    <servlet-name>PrimerServlet</servlet-name>
    <servlet-class>org.eticom.cursojsp.servlets.PrimerServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>num</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimerServlet</servlet-name>
    <url-pattern>/PrimerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalizadorArchivos</display-name>
    <servlet-name>LocalizadorArchivos</servlet-name>
    <servlet-class>org.eticom.cursojsp.servlets.LocalizadorArchivos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalizadorArchivos</servlet-name>
    <url-pattern>/LocalizadorArchivos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.eticom.cursojsp.servlets.empleo.LoginServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>username</param-name>
      <param-value>parado</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>password</param-name>
      <param-value>parado</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>loginsuccess</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoEmpleo</display-name>
    <servlet-name>ListadoEmpleo</servlet-name>
    <servlet-class>org.eticom.cursojsp.servlets.empleo.ListadoEmpleo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoEmpleo</servlet-name>
    <url-pattern>/ListadoEmpleo</url-pattern>
  </servlet-mapping>
</web-app>